<div class="container-fluid">
<div class="row">
    <h3>►  Hard & Soft Skills</h3>
    <div class="col-sm-6 col-md-4 col-lg-3 text-center">
        <circle-progress
            [percent]="85"
            [maxPercent]="100"
            [radius]="100"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#07f4c4'"
            [innerStrokeColor]="'#1e455d'"
            [animation]="true"
            [animationDuration]="1000"
            [showTitle]="false"
            [showSubtitle]="false"
            [showUnits]="false"
            [imageSrc]="'../../assets/HTML5.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
        ></circle-progress>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 text-center">
        <circle-progress
            [percent]="85"
            [maxPercent]="100"
            [radius]="100"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#07f4c4'"
            [innerStrokeColor]="'#1e455d'"
            [animation]="true"
            [animationDuration]="1000"
            [showTitle]="false"
            [showSubtitle]="false"
            [showUnits]="false"
            [imageSrc]="'../../assets/css.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
        ></circle-progress>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 text-center">
        <circle-progress
            [percent]="85"
            [maxPercent]="100"
            [radius]="100"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#07f4c4'"
            [innerStrokeColor]="'#1e455d'"
            [animation]="true"
            [animationDuration]="1000"
            [showTitle]="false"
            [showSubtitle]="false"
            [showUnits]="false"
            [imageSrc]="'../../assets/js.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="75"
        ></circle-progress>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 text-center">
        <circle-progress
            [percent]="85"
            [maxPercent]="100"
            [radius]="100"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#07f4c4'"
            [innerStrokeColor]="'#1e455d'"
            [animation]="true"
            [animationDuration]="1000"
            [showTitle]="false"
            [showSubtitle]="false"
            [showUnits]="false"
            [imageSrc]="'../../assets/HTML5.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
        ></circle-progress>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 text-center">
        <circle-progress
            [percent]="85"
            [maxPercent]="100"
            [radius]="100"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#07f4c4'"
            [innerStrokeColor]="'#1e455d'"
            [animation]="true"
            [animationDuration]="1000"
            [showTitle]="false"
            [showSubtitle]="false"
            [showUnits]="false"
            [imageSrc]="'../../assets/HTML5.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
        ></circle-progress>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 text-center">
        <circle-progress
            [percent]="85"
            [maxPercent]="100"
            [radius]="100"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#07f4c4'"
            [innerStrokeColor]="'#1e455d'"
            [animation]="true"
            [animationDuration]="1000"
            [showTitle]="false"
            [showSubtitle]="false"
            [showUnits]="false"
            [imageSrc]="'../../assets/HTML5.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
        ></circle-progress>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 text-center">
        <circle-progress
            [percent]="85"
            [maxPercent]="100"
            [radius]="100"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#07f4c4'"
            [innerStrokeColor]="'#1e455d'"
            [animation]="true"
            [animationDuration]="1000"
            [showTitle]="false"
            [showSubtitle]="false"
            [showUnits]="false"
            [imageSrc]="'../../assets/HTML5.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
        ></circle-progress>
    </div>    
    <div class="col-sm-6 col-md-4 col-lg-3 text-center">
        <circle-progress
            [percent]="85"
            [maxPercent]="100"
            [radius]="100"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#07f4c4'"
            [innerStrokeColor]="'#1e455d'"
            [animation]="true"
            [animationDuration]="1000"
            [showTitle]="false"
            [showSubtitle]="false"
            [showUnits]="false"
            [imageSrc]="'../../assets/HTML5.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
        ></circle-progress>
    </div>
</div>
</div>