<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
     <div>
      <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar/" target="_blank">
          <img 
          src="assets\APLogo.png" 
          alt="Argentina Programa"
          width="100"
          height="70">
        </a>
    </div> 

    <div>
      <a class="navbar-brand" href="https://github.com/cynthiasaucedo" target="_blank">
        <img 
        src="assets\Github.png" 
        alt="Argentina Programa"
        width="30"
        height="30">
      </a>
      <a class="navbar-brand" href="https://www.linkedin.com/in/cynthiasaucedo97" target="_blank">
        <img 
        src="assets\Linkedin.png" 
        alt="Argentina Programa"
        width="30"
        height="30">
      </a>
    </div>

        <!--
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Estudios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Proyectos</a>
          </li>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Contacto</a>
            </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Editar
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Iniciar sesión</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
            </ul>
        </ul>
      </div>-->
    </div>
  </nav>
