<div class="container-fluid">
    <div class="row">
            <h3>►  Contacto</h3>
        <div class="text-end center">
            <a class="navbar-brand" href="https://github.com/cynthiasaucedo" target="_blank">
                <img 
                src="assets\Github.png" 
                alt="Argentina Programa"
                width="30"
                height="30">
            </a>
            <a class="navbar-brand" href="https://www.linkedin.com/in/cynthiasaucedo97" target="_blank">
                <img 
                src="assets\Linkedin.png" 
                alt="Argentina Programa"
                width="30"
                height="30">
            </a>
        </div>
        <hr class="progress">
        <div class="footer">
            <p>Cynthia Saucedo | © Argentina Programa 2022</p>
        </div>
    </div>
</div>

