<div class="container-fluid">
    <div class="row grid-column-gap">
    <h2>
        ►  Experiencia
    </h2>
    <div class="col-lg-3">
            <span>
                <h3>
                    ►  Work
                </h3>
                <p>
                    Years
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad nesciunt id aspernatur saepe eius laudantium vel nulla. Excepturi tempore dolor, minima perferendis, sunt fugit sit quaerat nemo voluptatum ducimus sapiente.
                </p>
            </span>    
    </div>
    <div class="col-lg-3">
            <span>
                <h3>
                    ►  Work
                </h3>
                <p>
                    Years
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad nesciunt id aspernatur saepe eius laudantium vel nulla. Excepturi tempore dolor, minima perferendis, sunt fugit sit quaerat nemo voluptatum ducimus sapiente.
                </p>
            </span>
    </div>
    <div class="col-lg-3">
            <span>
                <h3>
                    ►  Work
                </h3>
                <p>
                    Years
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad nesciunt id aspernatur saepe eius laudantium vel nulla. Excepturi tempore dolor, minima perferendis, sunt fugit sit quaerat nemo voluptatum ducimus sapiente.
                </p>
            </span>
    </div>
</div>
</div>