<div class="container-fluid" >
    <div class="row grid-column-gap">
    <h2>
        ►  Estudios
    </h2>
    <div class="col-lg-3">
        <a
            class="btn btn-primary tooltips"
            data-placement="top"
            data-toggle="tooltip"
            data-original-title="edit">
            <i class="fa fa-pencil"></i>
        </a>
        <a
        class="btn btn-secondary tooltips"
        data-placement="top"
        data-toggle="tooltip"
        data-original-title="delete">
        <i class="fa fa-times"></i>
        </a>
        <span>
                <h3>
                    education.titleEdu
                </h3>
                <p>
                    education.startDateEdu - education.endDateEdu
                </p>
                <p>
                    education.descEdu
                </p>
        </span>
    </div>
</div>
</div>